.over{
  background-color:blue;
  width:83px;
  height:83px;
  float:left;
  margin:5px;
  padding:5px;
}
body{
  background-color:green;
}
h1{
  color:yellow;
  background-color:magenta;
}
h2{
  background-color:red;
  color:purple;
}
.hover{
  background-color:skyblue !important;
}